[Unit]
Description=Backup docker stack stack
After=docker.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/homelab-stack
ExecStart=/usr/local/bin/stack-backup.sh
